/* *{
 margin: 0%;
padding: 0%;
} */

:root{
--azul-marinho:#2C23A8;
--azul:#0000E6;
--azuzinho:#00D4FF;
--branco:#ffffff;
}

body {
    background-color: var(--branco);
    margin: auto;
}

header {
    background-color: var(--azul);
    display: flex;
    color:var(--branco);
    justify-content: center;
}

section {
    color: var(--azul);
    margin: 10px 0;
    padding: 10px 20px;
    text-align: center;
}

div {
    padding: 30px;
}

img {
    width: 400%;
    background-color:var(--azul);
    padding: 10px;
}

footer {
    background-color: var(--azul-marinho);
    display: flex;
    color:var(--branco);
    justify-content: center;
}

.ana{
    width: 30%;
}

@media screen and (min-width:1024px){
    section{
        display: flex;
        align-items: center;
    }

}